.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	> a {
		color: #fff;
		margin: 0 10px;
		transition: color 0.4s ease-in-out;
		padding: 10px;
		&:hover,
		&.active {
			color: #c353c3;
		}
	}
}
